<div class="dashboard">
  <div class="dashboard-header">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
  <div class="dashboard-actions">
    <button (click)="navigateToSignup()" class="btn-logout">Logout</button>
    <button (click)="navigateTouser()" class="btn-action">Insert Memebers</button>
    <button (click)="navigateToevent()" class="btn-action">View Events</button>
    <button (click)="navigateToinsevent()" class="btn-action">Insert Events</button>
    <button (click)="navigateTocontact()" class="btn-action">Show Members</button>
  </div>
</div>
